$primary-color: #08459E;
$secondary-color:#dadada;
$background-color:#f3f3f3;
$text-color:#323232;
$box-shadow: 5px 10px 4px #c9c7c7;
$border-radius: 10px;
$section-padding:50px;
$section-margin:60px;
$card-padding:30px;
$box-width:70%;
$card-height:350px;
$h2-padding:30px;
$font-weights:( "regular":16px, "medium":20px, "bold":25px);
$white-color: #fff;
$card-margin: 30px;
$box-shadow-nav: 0 2px 20px #32323210;